
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
@font-face{
    font-family: 'digital-clock-font';
    src: url('font/digital-7.ttf');
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: white;
    background-image: linear-gradient(rgb(102, 99, 95), rgb(163, 154, 149));
}
h1{
    color: #FFF;
    text-transform: uppercase;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    text-align: center;
    margin: 20px;
    text-shadow: 2px 2px #333;
}
fieldset{
    background-color: #FFF;
    margin: 5px;
    padding: 15px;
    border: #FFF 3px;
}
legend{
    text-transform: uppercase;
    font-size: 14pt;
    padding-top: 40px;
}
input[type="radio"]{
    margin-bottom: 10px;
    font-size: 12pt;
}
button{
    padding: 15px 25px;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #FFF;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #333;
    float: right;
}
.button:hover{background-color: #3e8e41;}
.button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #333;
    transform: translateY(4px);
}
#Resp{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFF;
    text-align: center;
    display: none; /* Inicialmente oculta */
}
#Resp h2{
    background-color: #333;
    color: #FFF;
    text-shadow: 2px 2px black;
}
footer{
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 150px;
}
#tempo{
    position: fixed;
    right: 10px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url("/bgsilver.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color:black;
    font-family:'digital-clock-font';
    font-size: 28pt;
    font-weight: bold;
}
#grafico{
    width: 50px;
    height: auto;
    box-shadow: 5px 9px #333;

}